<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.davidparry.twitter"
      android:versionCode="33"
	android:versionName="3.03" android:installLocation="preferExternal">
    <application android:icon="@drawable/iconblue"
		android:label="TButler" android:debuggable="true">
        <activity android:name=".ButlerTabActivity" android:multiprocess="false" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OAUTH" android:label="Authorizing Tbutler for Twitter">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="tbutler" android:host="twitt" />
			</intent-filter>
		</activity>
      <activity android:name=".TweetList" android:multiprocess="false" android:configChanges="orientation">
     </activity>
     <activity android:name=".InfoActivity" android:multiprocess="false" android:configChanges="orientation">
     </activity>
     <activity android:name=".FileListActivity" android:multiprocess="false">
	 </activity>
	 <activity android:name=".ItemViewActivity" android:multiprocess="false">
	 </activity>
	  <activity android:name=".ServiceActivity" android:multiprocess="false">
	 </activity>
	 <activity android:name=".ProfileActivity" android:multiprocess="false">
	 </activity>
	 <activity android:name=".TweetPreferenceActivity" android:multiprocess="false">
	</activity>
	<receiver android:name=".AlarmReceiver" android:enabled="true">
	</receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-sdk android:minSdkVersion="5" />

</manifest> 